@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Abhaya Libre', serif;
}

html,
body {
  overflow-x: hidden;
}

header {
  background-color: #fcedff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  padding: 1rem;
  width: 100vw;
  height: 68px;
  position: fixed;
  top: 0;
  z-index: 2;
}

header a {
  color: #000;
  text-decoration: none;
}

.hamburger {
  position: fixed;
  z-index: 3;
  right: 1rem;
  top: 1.5rem;
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.hamburgerLine {
  position: absolute;
  right: 0rem;
  top: 0.5rem;
  width: 28px;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.hamburgerLine::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 1px;
  background-color: #000;
}

.hamburgerLine::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  width: 20px;
  height: 1px;
  background-color: #000;
}

.hamburgerLine.open {
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
  background-color: transparent;
}

.hamburgerLine.open::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburgerLine.open::after {
  width: 28px;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  z-index: 2;
  background-color: rgba(252, 237, 255, 0.95);
  position: absolute;
  top: -100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  visibility: hidden;
}

.overlay.open {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
  visibility: visible;
}

.overlay.close {
  position: fixed;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
  visibility: hidden;
}

.overlay nav {
  text-align: center;
}

.overlay nav .menuItem {
  list-style-type: none;
  margin-bottom: 1rem;
}

.overlay nav .menuItem a {
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.overlay nav .menuItem a:hover {
  color: #87288f;
}

footer {
  background-color: #fcedff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 20px;
  padding: 1rem;
  width: 100vw;
  height: 80px;
  color: #f7b4a7;
}

footer a {
  text-decoration: none;
  color: inherit;
}

.hero {
  background-color: #fcedff;
  position: relative;
  top: 68px;
  text-align: center;
  padding: 30px 40px 150px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h2,
.hero h1 {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.hero h1 {
  color: #87288f;
  font-size: 20px;
}

.hero h1 span {
  display: inline-block;
}

.hero h1 .underline {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #f7b4a7), color-stop(90%, #f7b4a7), color-stop(90%, transparent));
  background: linear-gradient(transparent 60%, #f7b4a7 60%, #f7b4a7 90%, transparent 90%);
}

.hero section {
  font-size: 15px;
  text-align: left;
  line-height: 25px;
}

.hero section p > span {
  background-color: #fff;
}

.card-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65vw;
      grid-template-columns: 65vw;
  grid-auto-rows: 65vw;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 5rem;
}

.card-section a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
}

.card-section a .card {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
  overflow: hidden;
}

.card-section a .card .thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-section a .card .dummy-thumnail {
  background-color: #f7b4a7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #fcedff;
}

.card-section a .card .dummy-thumnail + section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f7b4a7;
}

.card-section a .card section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem;
}

.card-section a .card section h1 {
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.card-section a .card section p {
  font-size: 12px;
}

.card-section a .lang-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 65%;
  right: 0;
  gap: 0.5rem;
  margin: 0 0.5rem;
}

.card-section a .lang-icons .icon img {
  width: 30px;
  height: 30px;
  background-color: #fcedff;
  border-radius: 50%;
  padding: 5px;
}

@media screen and (min-width: 700px) {
  .card-section {
    -ms-grid-columns: 65vw;
        grid-template-columns: 65vw;
    grid-auto-rows: 65vw;
  }
  .card-section a .card section h1 {
    font-size: 20px;
    margin-bottom: 0.2rem;
  }
  .card-section a .card section p {
    font-size: 18px;
  }
  .card-section a .lang-icons {
    margin: 0 1rem;
    gap: 1rem;
  }
  .card-section a .lang-icons .icon img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 769px) {
  header {
    height: 115px;
    font-size: 30px;
    padding: 0 4rem;
  }
  .hamburger {
    display: none;
  }
  .overlay {
    width: auto;
    height: auto;
    visibility: visible;
    top: initial;
    left: initial;
    border-radius: 0;
    display: block;
    background-color: transparent;
  }
  .overlay.open, .overlay.close {
    position: relative;
    top: initial;
    left: initial;
    visibility: visible;
  }
  .overlay nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .overlay nav .menu .menuItem {
    margin: 0;
    margin-left: 1.5rem;
  }
  .overlay nav .menu .menuItem a {
    font-size: 25px;
  }
  .hero {
    position: relative;
    top: 115px;
    padding: 100px 150px 230px 150px;
  }
  .hero h2 {
    font-size: 30px;
  }
  .hero h1 {
    font-size: 50px;
  }
  .hero section {
    font-size: 30px;
    line-height: 45px;
  }
  .card-section {
    -ms-grid-columns: 35vw 35vw;
        grid-template-columns: 35vw 35vw;
    grid-auto-rows: 35vw;
  }
  .card-section a .card section {
    padding: 2rem;
  }
  footer {
    height: 130px;
    font-size: 30px;
    gap: 2rem;
  }
}
