// colour
$primary-color: #fcedff;
$secondary-color: #87288f;
$ternary-color: #f7b4a7;
$font-color: #000;

// font
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

// reset
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Abhaya Libre', serif;
	font-size: 62.5%;
}

html,
body {
	overflow-x: hidden;
	min-height: 100vh;
}

@mixin flex($direction: row) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

@mixin transitionEase {
	transition: all 0.55s ease;
}

$header-height: 5.5rem;
$fooer-height: 6rem;
