.card-section {
	display: grid;
	grid-template-columns: 80vw;
	grid-auto-rows: 90vw;
	gap: 5rem;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	margin-bottom: 5rem;

	a {
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: $font-color;
		position: relative;
		justify-self: center;

		.card {
			border-radius: 5px;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
			width: 100%;
			height: 100%;
			display: grid;
			grid-template-columns: 100%;
			grid-template-rows: 60% 40%;
			overflow: hidden;

			.thumbnail {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.dummy-thumnail {
				background-color: $ternary-color;
				@include flex;
				font-size: 3rem;
				color: $primary-color;
				cursor: not-allowed;
			}

			.dummy-thumnail + section {
				@include flex(column);
				cursor: not-allowed;

				h1 {
					color: $ternary-color;
				}
			}

			section {
				@include flex(column);
				align-items: flex-start;
				gap: 0.5rem;
				padding: 3rem 2rem;
				z-index: 10;

				h1 {
					color: $secondary-color;
					font-size: 1.8rem;
				}

				p {
					font-size: 1.2rem;
					font-family: $secondary-font;
					line-height: 1.8rem;
				}
			}
		}

		.lang-icons {
			@include flex;
			position: absolute;
			top: 55%;
			right: 0;
			gap: 1rem;
			margin: 0 1.5rem;

			.icon img {
				width: 4rem;
				height: 4rem;
				background-color: $primary-color;
				border-radius: 50%;
				padding: 0.5rem;
			}
		}
	}
}

@include smallMobile {
	.card-section a {
		.card section {
			h1 {
				font-size: 1.5rem;
			}

			p {
				font-size: 1.2rem;
			}
		}

		.lang-icons {
			.icon img {
				width: 3rem;
				height: 3rem;
			}
		}
	}
}

@include tablet {
	.card-section {
		grid-template-columns: 65vw;
		grid-auto-rows: 65vw;
		margin-top: 2rem;
		a {
			.card {
				section {
					padding: 3rem;

					h1 {
						font-size: 2.5rem;
						margin-bottom: 1rem;
					}

					p {
						font-size: 1.8rem;
						line-height: 2.8rem;
					}
				}
			}

			.lang-icons {
				margin: 0 2rem;
				gap: 1.5rem;

				.icon img {
					width: 6rem;
					height: 6rem;
					padding: 1rem;
				}
			}
		}
	}
}

@include desktop {
	.card-section {
		grid-template-columns: 40vw 40vw;
		grid-auto-rows: 45vw;

		a {
			.card {
				section {
					padding: 4.5rem 3rem 3rem;

					p {
						font-size: 1.5rem;
						line-height: 2.5rem;
					}
				}
			}
		}
	}
}

@include bigscreen {
	.card-section {
		grid-template-columns: 35vw 35vw;
		grid-auto-rows: 35vw;
		gap: 10rem;

		a {
			.lang-icons {
				top: 65%;
				gap: 2.5rem;
				margin-right: 3rem;

				.icon img {
					width: 6.5rem;
					height: 6.5rem;
					padding: 1.5rem;
				}
			}

			.card {
				grid-template-rows: 70% 30%;
				.thumbnail {
					object-fit: fill;
				}

				section {
					padding: 3.5rem 5rem;

					h1 {
						margin-bottom: 0.5rem;
					}

					p {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}
