footer {
	background-color: $primary-color;
	@include flex;
	gap: 2rem;
	padding: 1.6rem;
	width: 100vw;
	height: $fooer-height;
	color: $ternary-color;

	a {
		font-size: 3rem;
		text-decoration: none;
		color: inherit;
	}
}

@include tablet {
	footer {
		height: 8.5rem;
		gap: 3.5rem;

		a {
			font-size: 4rem;
		}
	}
}

@include desktop {
	footer {
		height: 10rem;
		gap: 4rem;

		a {
			font-size: 5rem;
		}
	}
}
