header {
	background-color: $primary-color;
	@include flex;
	justify-content: space-between;
	padding: 2rem;
	width: 100vw;
	height: $header-height;
	position: fixed;
	top: 0;
	z-index: 2;

	& > a:first-of-type {
		display: flex;
		align-items: center;
		color: $secondary-color;
		font-size: 2rem;
		img {
			width: 2rem;
			height: 2rem;
			margin-right: 0.5rem;
		}
	}

	a {
		color: #000;
		text-decoration: none;
		font-size: 2.5rem;
		outline: none;
	}
}

// Menu button
.hamburger {
	position: fixed;
	z-index: 3;
	right: 2rem;
	top: 2.5rem;
	height: 2.8rem;
	width: 2.8rem;
	cursor: pointer;

	&Line {
		position: absolute;
		right: 0rem;
		top: 0;
		width: 2.5rem;
		height: 0.5px;
		background-color: $secondary-color;
		@include transitionEase;

		&::before {
			content: '';
			position: absolute;
			top: -0.7rem;
			width: 2.5rem;
			height: 0.5px;
			background-color: $secondary-color;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0.7rem;
			right: 0;
			width: 2rem;
			height: 0.5px;
			background-color: $secondary-color;
		}

		//change the lines into X
		&.open {
			transform: rotate(540deg);
			background-color: transparent;

			&::before {
				top: 0;
				transform: rotate(45deg);
			}

			&::after {
				width: 2.5rem;
				top: 0;
				transform: rotate(-45deg);
			}
		}
	}
}

//Menu ovelay
.overlay {
	width: 100vw;
	height: 100vh;
	background-attachment: fixed;
	z-index: 2;
	background-color: rgba($primary-color, 0.95);
	position: absolute;
	top: -100vh;
	@include flex(column);
	justify-content: center;
	visibility: hidden;

	&.open {
		position: fixed;
		top: 0;
		left: 0;
		@include transitionEase;
		visibility: visible;
	}

	&.close {
		position: fixed;
		@include transitionEase;
		visibility: hidden;
	}

	nav {
		text-align: center;

		.menuItem {
			list-style-type: none;
			margin-bottom: 2rem;

			a {
				font-size: 2rem;
				@include transitionEase;

				&:hover {
					color: $secondary-color;
				}
			}
		}
	}
}

@include tablet {
	header {
		height: 6.5rem;
		padding: 0 4rem;

		& > a:first-of-type {
			font-size: 2.5rem;
			img {
				width: 2.5rem;
				height: 2.5rem;
			}
		}
	}

	.hamburger {
		width: 3rem;

		&Line {
			top: 0.5rem;
			right: 2rem;
			height: 1px;
			width: 3rem;

			&::before {
				top: -0.8rem;
				height: 1px;
				width: 3rem;
			}

			&::after {
				top: 0.8rem;
				height: 1px;
				width: 2.5rem;
			}

			&.open {
				&::after {
					width: 3rem;
				}
			}
		}
	}
}

@include laptop {
	header {
		height: 8.5rem;
		padding: 0 7rem;

		& > a:first-of-type {
			font-size: 3rem;

			img {
				height: 3rem;
				width: 3rem;
			}
		}

		a {
			font-size: 3.5rem;
		}
	}

	.hamburger {
		display: none;
	}

	.overlay {
		width: auto;
		height: auto;
		visibility: visible;
		top: initial;
		left: initial;
		border-radius: 0;
		display: block;
		background-color: transparent;

		&.open,
		&.close {
			position: relative;
			top: initial;
			left: initial;
			visibility: visible;
		}

		nav {
			.menu {
				@include flex;

				li.menuItem {
					margin: 0;
					margin-left: 2.5rem;

					a {
						font-size: 2.5rem;
					}
				}
			}
		}
	}
}
