header {
	background-color: $primary-color;
	@include flex;
	justify-content: space-between;
	font-size: 20px;
	padding: 1rem;
	width: 100vw;
	height: $header-height;
	position: fixed;
	top: 0;
	z-index: 2;

	a {
		color: #000;
		text-decoration: none;
	}
}

// Menu button
.hamburger {
	position: fixed;
	z-index: 3;
	right: 1rem;
	top: 1.5rem;
	height: 28px;
	width: 28px;
	cursor: pointer;

	&Line {
		position: absolute;
		right: 0rem;
		top: 0.5rem;
		width: 28px;
		height: 1px;
		background-color: $font-color;
		@include transitionEase;

		&::before {
			content: '';
			position: absolute;
			top: -8px;
			width: 28px;
			height: 1px;
			background-color: $font-color;
		}

		&::after {
			content: '';
			position: absolute;
			top: 8px;
			right: 0;
			width: 20px;
			height: 1px;
			background-color: $font-color;
		}

		//change the lines into X
		&.open {
			transform: rotate(540deg);
			background-color: transparent;

			&::before {
				top: 0;
				transform: rotate(45deg);
			}

			&::after {
				width: 28px;
				top: 0;
				transform: rotate(-45deg);
			}
		}
	}
}

//Menu ovelay
.overlay {
	width: 100vw;
	height: 100vh;
	background-attachment: fixed;
	z-index: 2;
	background-color: rgba($primary-color, 0.95);
	position: absolute;
	top: -100vh;
	@include flex(column);
	justify-content: center;
	visibility: hidden;

	&.open {
		position: fixed;
		top: 0;
		left: 0;
		@include transitionEase;
		visibility: visible;
	}

	&.close {
		position: fixed;
		@include transitionEase;
		visibility: hidden;
	}

	nav {
		text-align: center;

		.menuItem {
			list-style-type: none;
			margin-bottom: 1rem;

			a {
				@include transitionEase;

				&:hover {
					color: $secondary-color;
				}
			}
		}
	}
}

@include desktop {
	header {
		height: 115px;
		font-size: 30px;
		padding: 0 4rem;
	}

	.hamburger {
		display: none;
	}

	.overlay {
		width: auto;
		height: auto;
		visibility: visible;
		top: initial;
		left: initial;
		border-radius: 0;
		display: block;
		background-color: transparent;

		&.open,
		&.close {
			position: relative;
			top: initial;
			left: initial;
			visibility: visible;
		}

		nav {
			.menu {
				@include flex;

				.menuItem {
					margin: 0;
					margin-left: 1.5rem;

					a {
						font-size: 25px;
					}
				}
			}
		}
	}
}
