.hero {
	background-color: $primary-color;
	position: relative;
	top: $header-height;
	text-align: center;
	padding: 3rem 4rem 12rem 4rem;
	@include flex(column);

	h2,
	h1 {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	h1 {
		color: $secondary-color;
		font-size: 3rem;

		span {
			display: inline-block;
		}

		.underline {
			background: linear-gradient(
				transparent 60%,
				$ternary-color 60%,
				$ternary-color 90%,
				transparent 90%
			);
		}
	}

	section {
		font-size: 3.5rem;
		text-align: left;
		line-height: 2rem;

		p > span {
			background-color: #fff;
		}
	}

	.social-icons {
		padding-top: 2.5rem;
		@include flex;
		gap: 1.5rem;

		a {
			font-size: 3rem;
			text-decoration: none;
			color: $ternary-color;
			@include transitionEase;

			&:hover {
				color: $secondary-color;
			}
		}
	}
}

@include tablet {
	.hero {
		top: 6.5rem;

		h2 {
			font-size: 3rem;
		}

		h1 {
			font-size: 5rem;
		}

		section {
			font-size: 4rem;
			line-height: 2rem;
		}

		.social-icons {
			padding-top: 3rem;
			gap: 1.8rem;

			a {
				font-size: 3.5rem;
			}
		}
	}
}

@include desktop {
	.hero {
		position: relative;
		top: 8.5rem;
		padding: 10rem 15rem 23rem 15rem;

		h2 {
			font-size: 3.5rem;
		}

		h1 {
			font-size: 8rem;
		}

		section {
			font-size: 5rem;
			line-height: 3rem;
		}

		.social-icons {
			padding-top: 4rem;
			gap: 3rem;

			a {
				font-size: 4.5rem;
			}
		}
	}
}
