.hero {
	background-color: $primary-color;
	position: relative;
	top: $header-height;
	text-align: center;
	padding: 30px 40px 150px 40px;
	@include flex(column);

	h2,
	h1 {
		font-size: 18px;
		margin-bottom: 0.5rem;
	}

	h1 {
		color: $secondary-color;
		font-size: 20px;

		span {
			display: inline-block;
		}

		.underline {
			background: linear-gradient(
				transparent 60%,
				$ternary-color 60%,
				$ternary-color 90%,
				transparent 90%
			);
		}
	}

	section {
		font-size: 15px;
		text-align: left;
		line-height: 25px;

		p > span {
			background-color: #fff;
		}
	}
}

@include desktop {
	.hero {
		position: relative;
		top: 115px;
		padding: 100px 150px 230px 150px;

		h2 {
			font-size: 30px;
		}

		h1 {
			font-size: 50px;
		}

		section {
			font-size: 30px;
			line-height: 45px;
		}
	}
}
