.project-detail,
.works,
.about {
	@include flex(column);
	padding-top: $header-height;
	padding-bottom: 3rem;
	justify-content: space-between;
	width: 500px;
	max-width: 80vw;
	min-height: calc(100vh - 80px);
	margin: auto;
	gap: 2rem;

	& > h1 {
		color: $secondary-color;
		font-size: 30px;
		text-align: center;
		margin: 4rem auto 2rem;
	}

	& > p {
		font-size: 2rem;
		text-align: left;
		margin: 0 1rem;

		a {
			font-size: inherit;
			color: $secondary-color;
			text-decoration: none;
		}

		code,
		pre {
			font-family: monospace;
			font-size: 1.5rem;
			font-weight: lighter;
			padding: 0 0.4rem;
			background-color: rgb(216, 220, 227);
			border-radius: 5px;
		}

		ol {
			font-size: inherit;
			li {
				font-size: inherit;
				margin-top: 1.5rem;
			}
		}
	}

	.details {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: flex-start;
		gap: 1rem;
		margin: 2rem;

		h2 {
			font-size: 15px;
		}

		.language-tool-list {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: auto;
			gap: 0.5rem;

			article {
				@include flex(column);

				img {
					width: 3.5rem;
					height: 3.5rem;
				}
			}
		}

		p {
			font-size: 1.5rem;
			margin: 0;
		}
	}

	& article > img {
		width: 500px;
		max-width: 80vw;
		margin-bottom: 0.5rem;
	}

	.links {
		align-self: flex-start;

		a {
			@include flex;
			justify-content: flex-start;
			text-decoration: none;
			color: $secondary-color;
			font-size: 1.5rem;
			margin-bottom: 0.5rem;

			&:hover {
				color: $secondary-color;
			}

			svg {
				width: 1.5rem;
				height: 1.5rem;
				margin-right: 0.5rem;
			}
		}
	}
}

@include desktop {
	.project-detail,
	.works,
	.about {
		padding-top: 115px;
		width: 800px;

		& > h1 {
			font-size: 5rem;
			margin: 6rem auto 4rem;
		}

		p {
			font-size: 3rem;
			margin: 0 2rem;

			code {
				font-size: 2rem;
			}
		}

		.details {
			margin: 5rem;
			gap: 2rem;

			h2 {
				font-size: 3rem;
			}

			.language-tool-list {
				gap: 1.5rem;

				article img {
					width: 5rem;
					height: 5rem;
				}
			}

			p {
				font-size: 3rem;
			}
		}

		& article > img {
			width: 100%;
			margin-bottom: 1rem;
		}

		.links {
			a {
				color: $font-color;
				font-size: 2.5rem;

				svg {
					width: 2.5rem;
					height: 2.5rem;
				}
			}
		}
	}
}
