.wip {
	justify-content: center;
	width: 100vw;
	max-width: none;
	background-color: $ternary-color;

	h2 {
		font-size: 4rem;
		color: $primary-color;
		text-align: center;
	}

	a > button {
		font-size: 1.5rem;
		font-weight: bold;
		border: none;
		border-radius: 20px;
		padding: 0.5rem 1.5rem;
		background-color: $primary-color;
		color: $ternary-color;
	}
}

@include tablet {
	.wip {
		h2 {
			font-size: 6rem;
		}

		a > button {
			font-size: 2rem;
			margin-top: 3rem;
		}
	}
}
